<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jingwei.vega"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.RegistActivity"/>
        <activity android:name=".activity.ForgetPwdActivity"/>
        <activity android:name=".activity.MarketShopsActivity"/>

        <!-- 我的 -->
        <activity android:name=".activity.MyCollectActivity"/>
        <activity android:name=".activity.AboutUsActivity"/>
        <activity android:name=".activity.VipCenterActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.DownloadRecordActivity"/>
        <activity android:name=".activity.DownloadRecordDetailActivity"/>
        <activity android:name=".activity.GoodsLibActivity"/>
        <activity android:name=".activity.SearchActivity"/>
    </application>

</manifest>